# Ignore the compiled version of the ros2 workspace
drone_racing_ros2_ws/build
drone_racing_ros2_ws/install
drone_racing_ros2_ws/log
drone_racing_ros2_ws/src/drone_racing_ros2

# Ignore pychache
__pycache__